@font-face {
  font-family: 'pet';
  src:  url('../fonts/pet.eot?5p2rmm');
  src:  url('../fonts/pet.eot?5p2rmm#iefix') format('embedded-opentype'),
    url('../fonts/pet.ttf?5p2rmm') format('truetype'),
    url('../fonts/pet.woff?5p2rmm') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pet-"], [class*=" pet-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pet' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pet-flag-full:before {
  content: "\e924";
}
.pet-hash:before {
  content: "\e921";
}
.pet-trash:before {
  content: "\e922";
}
.pet-trash-2:before {
  content: "\e923";
}
.pet-flag-01:before {
  content: "\e91c";
}
.pet-home:before {
  content: "\e91d";
}
.pet-message-square:before {
  content: "\e91e";
}
.pet-phone:before {
  content: "\e91f";
}
.pet-users:before {
  content: "\e920";
}
.pet-alert-circle:before {
  content: "\e900";
}
.pet-calendar:before {
  content: "\e901";
}
.pet-check:before {
  content: "\e902";
}
.pet-check-square:before {
  content: "\e903";
}
.pet-chevron-down:before {
  content: "\e904";
}
.pet-chevron-left:before {
  content: "\e905";
}
.pet-chevron-right:before {
  content: "\e906";
}
.pet-chevron-up:before {
  content: "\e907";
}
.pet-circle:before {
  content: "\e908";
}
.pet-compass:before {
  content: "\e909";
}
.pet-edit:before {
  content: "\e90a";
}
.pet-edit-2:before {
  content: "\e90b";
}
.pet-eye:before {
  content: "\e90c";
}
.pet-eye-off:before {
  content: "\e90d";
}
.pet-globe:before {
  content: "\e90e";
}
.pet-log-out:before {
  content: "\e90f";
}
.pet-map-pin:before {
  content: "\e910";
}
.pet-minus-circle:before {
  content: "\e911";
}
.pet-more-horizontal:before {
  content: "\e912";
}
.pet-plus:before {
  content: "\e913";
}
.pet-plus-circle:before {
  content: "\e914";
}
.pet-search:before {
  content: "\e915";
}
.pet-send:before {
  content: "\e916";
}
.pet-server:before {
  content: "\e917";
}
.pet-settings:before {
  content: "\e918";
}
.pet-square:before {
  content: "\e919";
}
.pet-user:before {
  content: "\e91a";
}
.pet-x:before {
  content: "\e91b";
}
